*.class
*.log

# sbt specific
.bsp
.cache
.history
.lib/
dist/*
target/
codegen/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IntelliJ
.idea/
*.iml

# Ensime
.ensime
.ensime_cache/

# macOS
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*